Created a messy csv file. Below are TWO exmaples of cleaning data: correcting spelling and removing the last column.

In [74]:
import pandas as pd
import numpy as np

In [75]:
df = pd.read_csv('MessyData - Sheet1.csv')
print(df)

   Moonday  Tuesday  Wednesdayy  Thursday  Friday  Extra
0        1      2.0         NaN         4       5    NaN
1        5      4.0         NaN         2       1    NaN
2        6      NaN         8.0         9      10    NaN
3       10      NaN         8.0         7       6    NaN

Created spelling mistakes (Moonday and Wednesdayy) to fix.

In [76]:
df.columns

Index(['Moonday', 'Tuesday', 'Wednesdayy', 'Thursday', 'Friday', 'Extra'], dtype='object')

Corrected spelling mistakes.

In [77]:
fixed_columns = {'Moonday' : 'Monday', 
                 'Wednesdayy' : 'Wednesday'}

df.rename(columns=fixed_columns,inplace=True)
df.columns

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Extra'], dtype='object')

Removed last ("Extra") column.

In [78]:
df.drop(['Extra'], axis=1)

   Monday  Tuesday  Wednesday  Thursday  Friday
0       1      2.0        NaN         4       5
1       5      4.0        NaN         2       1
2       6      NaN        8.0         9      10
3      10      NaN        8.0         7       6